    

body{
    background-color:#556;
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), 
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    }
    .lek{text-align: center
        ;margin-top: 200px;margin-left: 550px;}
    .lek{background: rgb(48, 45, 45)  ;width: 275px;height: 300px;border-radius: 65px;color: rgb(97, 97, 105);box-shadow: black;}
    .rec{  background-color: rgb(54, 54, 66);
      height: 100px;
      width: 225px;
      margin-top: -381px;
      margin-left: 24px;
      border-radius: 40px;}
      .register{color: black;margin-top: -67px;margin-right: -3px;}