body {
    background-color: #556;
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
        linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;

}

.mi {
    text-align: center;
    margin-top: 200px;
    margin-left: 550px;
}

.mi {
    background: rgb(48, 45, 45);
    width: 275px;
    height: 300px;
    border-radius: 65px;
    color: rgb(97, 97, 105);
}

.rec {
    background-color: rgb(54, 54, 66);
    height: 100px;
    width: 225px;
    margin-top: -455px;
    margin-left: 574px;
    border-radius: 40px;
}

.register {
    background-color: rgb(88, 82, 82);
    width: 60px;
    height: 40px;
    border-radius: 20px;
}

.buh {
    width: 60px;
    height: 42px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    margin-top: 40px;
}

.re {
    height: 30px;
    background-color: rgb(88, 78, 78);
    width: 60px;
    margin-left: 108px;
    color: black;
    border-radius: 40px;
}

.log {
    margin-top: -70px;
    margin-left: 630px;
    color: rgb(32, 30, 30);
}

.ty {
    color: black;
}
